<template>
    <b-container>
        <h1>Example vue client</h1>
        <h3>for https://reqres.in/ REST API</h3>
    </b-container>
</template>

<script>
    export default {
        name: "home-page"
    }
</script>

<style scoped>

</style>
