<template>
    <b-container>

        <breadcrumbs :items="breadcrumbs"></breadcrumbs>

        <users :items="users">
            <h1>List of users</h1>
        </users>

        <b-pagination
                size="md"
                :total-rows="pagination.total"
                v-model="pagination.current_page"
                :per-page="pagination.per_page"
                @input="loadData()"
        ></b-pagination>

    </b-container>
</template>

<script>
    import axios from 'axios'
    import users from '../components/users'
    import breadcrumbs from '../components/breadcrumbs'

    export default {
        name: "users-page",
        components: {users, breadcrumbs},
        data() {
            return {
                users: [],
                pagination: {
                    total: 0,
                    per_page: 3,
                    current_page: 1,
                },
                paginationOptions: {
                    offset: 4,
                    previousText: 'Prev',
                    nextText: 'Next',
                    alwaysShowPrevNext: true
                },
                breadcrumbs: [{
                    text: 'Home',
                    href: '/'
                }, {
                    text: 'Users',
                    to: {name: 'UsersPage'}
                }]
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData() {
                const params = {
                    per_page: this.pagination.per_page,
                    page: this.pagination.current_page,
                }
                axios
                    .get("https://reqres.in/api/users", {params})
                    .then(response => {
                        this.users = response.data.data
                        this.pagination.total = response.data.total;
                        this.pagination.per_page = response.data.per_page;
                        this.pagination.current_page = response.data.page;
                    })
            }
        }
    }
</script>

<style scoped>

</style>
