<template>
    <b-container>
        <breadcrumbs :items="breadcrumbs"></breadcrumbs>
        <user :item="user"></user>
    </b-container>
</template>

<script>
    import axios from 'axios'
    import user from '../components/user'
    import breadcrumbs from '../components/breadcrumbs'

    export default {
        name: "user-page",
        components: {user, breadcrumbs},
        data() {
            return {
                user: {},
                breadcrumbs: [{
                    text: 'Home',
                    href: '/'
                }, {
                    text: 'Users',
                    to: {name: 'UsersPage'}
                }, {
                    text: '',
                    active: true
                }]
            }
        },
        created() {
            this.fetchUser(this.$route.params.id)
        },
        methods: {
            fetchUser(id) {
                axios
                    .get(`https://reqres.in/api/users/${id}`)
                    .then(response => {
                        this.user = response.data.data
                        this.breadcrumbs[this.breadcrumbs.length - 1].text = `${this.user.first_name} ${this.user.last_name}`
                    })
            }
        }
    }
</script>

<style scoped>

</style>
