<template>
    <div>
        <b-breadcrumb :items="items"/>
    </div>
</template>

<script>
    export default {
        name: "breadcrumbs",
        props: {
            items: {
                type: Array
            }
        },
        data() {
            return {}
        }
    }
</script>

<style scoped>

</style>
