<template>
    <b-container>
        <h1>{{ item.first_name }} {{ item.last_name }}</h1>
        <b-card>
            <b-img
                    thumbnail
                    rounded
                    left
                    class="thumb"
                    :src="item.avatar"
            />
            <h5 class="mt-0">{{ item.first_name }}</h5>
            <p>{{ item.last_name }}</p>
        </b-card>
    </b-container>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "user",
        props: {
            item: {
                type: Object
            }
        },
        data() {
            return {

            }
        },
        computed: {
            fullName() {
                return `${this.item.first_name} ${this.item.last_name}`
            }
        }
    }
</script>

<style scoped>
    .thumb {
        margin-right: 15px;
    }
</style>
