<template>
    <div>
        <slot></slot>
        <b-card
                v-for="item in items"
                :key="item.id"
                class="card"
        >
            <b-img
                    thumbnail
                    rounded
                    left
                    class="thumb"
                    :src="item.avatar"
            />
            <h5 class="mt-0">{{ item.first_name }}</h5>
            <p>{{ item.last_name }}</p>
            <router-link :to="{ name: 'UserPage', params: {id: item.id} }" class="card-link">Details</router-link>
        </b-card>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "users",
        props: {
            items: {
                type: Array
            }
        },
        data() {
            return {}
        }
    }
</script>

<style scoped>
    .thumb {
        margin-right: 15px;
    }

    .card {
        margin-bottom: 15px;
    }
</style>
