<template>
    <div id="app">
        <b-navbar type="dark" variant="primary" toggleable>
            <b-container>
                <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
                <b-collapse is-nav id="nav_dropdown_collapse">
                    <b-navbar-nav>
                        <b-nav-item :to="{ name: 'HomePage' }">Home</b-nav-item>
                        <b-nav-item :to="{ name: 'UsersPage' }">Users</b-nav-item>
                    </b-navbar-nav>
                </b-collapse>
            </b-container>
        </b-navbar>
        <br>
        <router-view/>

        <div class="spinner-container">
            <Spinner></Spinner>
        </div>

    </div>
</template>

<script>
    import Spinner from 'vue-spinner-component/src/Spinner.vue'

    export default {
        name: 'App',
        components: {
            Spinner
        }
    }
</script>

<style>

</style>
